:root {
    --maincontent-dark: #141922;
    --positionflex-dark: #080B12;
    --toolhover-grey: #D2D2D2;
    --toolnothover-grey: #A3A3A3;
    --sidebar-grey: #282828;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

.column {
    flex-direction: column;
}

/* DEBUG */

body div, aside, nav {
    border: 2px solid red;
    padding: 10px; 
}

.container__sidebar {
    height: 100px;
}

.container__sidebar div {
    border: solid 2px blue;
}

.central__sidebar__item div {
    border: solid 2px green;
}

/* Inizio CSS body */

.container__body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container__main {
    flex-basis: 0;
    flex-grow: 1;
}

.row {
    display: flex;
}

.navbar {
    flex-basis: 230px;
    background-color: black;
    color: white;
}

.main {
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
}

.banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    z-index: 999;
    opacity: 0.5;
}

.first-list #home {
    margin-bottom: 1rem;
    background: url(../img/home.svg) no-repeat left top;
    padding: 0px 0 3px 24px;
}

.first-list #search {
    margin-bottom: 1rem;
    background: url(../img/search.svg) no-repeat left top;
    padding: 0px 0 3px 24px;
}

.first-list #library {
    margin-bottom: 1rem;
    background: url(../img/libreria.svg) no-repeat left top;
    padding: 0px 0 3px 24px;
}

/* Sidebar */

.container__sidebar {
    justify-content: space-between;
}

.central__sidebar__item {
    flex-grow: 1;
    flex-direction: column;
}

.icons__player {
    margin: 0 auto;
}