:root {
    --maincontent-dark: #141922;
    --positionflex-dark: #080B12;
    --toolhover-grey: #D2D2D2;
    --toolnothover-grey: #A3A3A3;
    --sidebar-grey: #282828;
    --fontsize-paylist: 0.813rem;
    --colorgrey--buttonsoff: #7E7E7E;
    --genderfluid-grey: #797C80;
}

i {
    display: block;
}

* {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

img {
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
    color: currentColor;
}

a {
    text-decoration: none;
    color: currentColor;
}

.column {
    flex-direction: column;
}

.font-bold {
    font-weight: bold;
}

/* DEBUG */

/* body div, aside, nav {
    border: 2px solid red;
    padding: 10px; 
} */



/* .container__sidebar div {
    border: solid 2px blue;
} */

/* .central__sidebar__item div {
    border: solid 2px green;
} */

/* Inizio CSS body */

.container__body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container__main {
    flex-basis: 0;
    flex-grow: 1;
    
}
    

.row {
    display: flex;
}


/* Navbar */

.navbar .spotifylogo {
    width: 140px;
}

.spotifylogosmall {
    display: none;
}

.navbar {
    flex-basis: 230px;
    background-color: black;
    color: white;
    padding: 15px;
    padding-bottom: 6px;
}



.first-list #home {
    margin-bottom: 8px;
    background: url(../img/home.svg) no-repeat left top;
    padding: 6px 0px 3px 30px;
    font-size: 0.813rem;
    font-weight: bold;
    background-size: 25px;
    margin-top: 20px;
    position: relative;
}

#home::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    width: 3px;
    background-color: green;
}


.first-list #search {
    margin-bottom: 8px;
    background: url(../img/search.svg) no-repeat left top;
    padding: 6px 0px 3px 30px;
    font-size: 0.813rem;
    font-weight: bold;
    background-size: 25px;
}
    

.first-list #library {
    margin-bottom: 8px;
    background: url(../img/libreria.svg) no-repeat left top;
    padding: 6px 0px 3px 30px;
    font-size: 0.813rem;
    font-weight: bold;
    background-size: 25px;
    margin-left: 2px;
}

.first-list #library {
    margin-bottom: 8px;
    background: url(../img/libreria.svg) no-repeat left top;
    padding: 6px 0px 3px 30px;
    font-size: 0.813rem;
    font-weight: bold;
    background-size: 25px;
    margin-left: 2px;
}

.navbar div h4 {
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 23px;
}

.size_plus {
    font-size: 40px;
}
.create_playlist {
    align-items: center;
    column-gap: 7px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
}

.create_playlist:hover {
    opacity: 1;
}

.playlists {
    flex-grow: 1;
}

.playlists li {
    font-size: var(--fontsize-paylist);
    padding-top: 20px;
}

.playlist li:first-child {
    padding-top: 0px;
}

.side_item {
    font-size: 14px;
    font-weight: bold;
}

.side_item i {
    padding-right: 5px;
}

.side_item hr {
    margin: 10px 0;
}

.author_profile {
    width: 105px;
    align-items: center;
    gap: 8px;
}

.author_profile img {
    flex-basis: calc(35% - 8px);
    background-color: grey;
    border-radius: 20px;
    aspect-ratio: 1;
}
.author_profile p {
    flex-basis: calc(65% -8px);
    font-weight: bold;
}

/* Banner */

.main {
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    background-color: var(--maincontent-dark);
}
 /* QUI FORSE LO DEVO SPOSTARE CON LEFT RIGHT E TOP NON CON IL PADDING RICORDA */
.banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 72px;
    z-index: 999;
    opacity: 0.5;
    background-color: var(--positionflex-dark);
    vertical-align: middle;
    padding-top: 20px;
    padding-right: 20px;
}

.banner .subscribe {
    
    text-align: end;
}

.banner .subscribe a {
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    padding: 10px 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

/* Conteiner Tracks */

.margin_75 {
    margin-top: 75px;
    
}

.first__main__row {
    display: flex;
    justify-content: center;
    color: var(--genderfluid-grey);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.list_first_main_row {
    column-gap: 15px;
}

.list_first_main_row li:first-child {
    position: relative;
}

.list_first_main_row li:first-child::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 30%;
    right: 0;
    background-color: green;
    height: 3px;
    border-radius: 5px;
    display: block;
    width: 30px;
}

.second__main__row, .third__main__row {
    padding-left: 20px;
    padding-right: 20px;
    /* margin-top: 20px; */
    flex-wrap: wrap;
}

#played {
    color: white;
    font-size: 26px;
    /* flex-basis: 100%; */
    margin-top: 20px;
    padding-left: 20px;
}


.tracks_1 {
    flex-basis: 100%;
    
    column-gap: 10px;
    flex-wrap: wrap;
}

.track_col {
    flex-basis: calc(16.6% - 60px);
    text-align: center;
    padding-top: 25px;
}
    

.track_col img, .track_col_3 img {
    width: 180px;
    aspect-ratio: 1;
}

.track_col h5 {
    padding-top: 10px;
    color: var(--genderfluid-grey);
    text-align: center;
}

.track_col h4, .track_col_3 h4 {
    color: white;
    text-align: center;
    padding-top: 15px;
}

.third__row__text {
    padding-left: 20px;
    margin-top: 45px;
    flex-wrap: wrap;
}


.third__row__text h3 {
    color: white;
    font-size: 26px;
}
    

.third__row__text p {
    color: var(--genderfluid-grey);
    margin-top: 12px;
    
    font-weight: bold;
    font-size: 13px;
}

.third__main__row {
    column-gap: 10px;
    flex-wrap: wrap;
}

.track_col_3 {
    flex-basis: calc(16.6% - 20px);
    padding-top: 25px;
}
    
.rounded img {
    border-radius: 100%;
}    
    

/* Sidebar */



.container__sidebar {
    justify-content: space-between;
    height: 100px;
    background-color: var(--sidebar-grey);
}

.sidebar__item {
    align-items: center;
    column-gap: 10px;
}

.central__sidebar__item {
    flex-grow: 1;
    flex-direction: column;
}

.playing__track__img {
    max-width: 45px;
    flex-shrink: 0;
}

.playing__track__author {
    margin-right: 30px;
}

.playing__track__author h4 {
    font-size: 12px;
    color: white;
}

.playing__track__author p {
    font-size: 11px;
    color: var(--colorgrey--buttonsoff);
    font-weight: bold;
}

.playing__track__interaction {
    color: var(--colorgrey--buttonsoff);
    padding-right: 10px;
}

.playing__track__interaction .heart {
    padding-right: 10px;
}

/* Mid Sidebar */

.time__player {
    width: 60%;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.icons__player {
    color: white;
    font-size: 20px;
    width: 60%;
    text-align: center;
}

.icons__player .shuffle {
    
    padding-right: 15px
}
.icons__player .play {
    font-size: 32px;
    padding: 15px 20px;
}

.icons__player .back {
    
    padding-left: 15px;
}

.progress__bar__border {
    flex-basis: calc(80% - 40px);
    height: 5px;
    /* border: solid 1px;
    border-color: var(--colorgrey--buttonsoff); */
    background-color: var(--colorgrey--buttonsoff);
    border-radius: 5px;
}

.progress__bar {
    height: 5px;
    background-color: white;
    width: 20%;
    border-radius: 5px;
}

.font_time {
    color: white;
    font-weight: bold;
    font-size: 10px;
    flex-basis: calc(10% - 40px);
}

/* Last slot sidebar */

.sidebar__item__last {
    color: white;
    column-gap: 10px;
    align-items: center;
}

.item_1 {
    flex-basis: calc(17% - 30px);
}

.volume {
    flex-basis: calc(49% - 30px);
    flex-grow: 1;
    position: relative;
}

.sidebar__item__last div hr {
    height: 3px;
    width: 115px;
    background-color: var(--colorgrey--buttonsoff);
    border-radius: 8px;
}

.volume::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 8px;
}

/* MEDIA QUERY */

@media (max-width:765px) {
    .navbar {
       flex-basis: 50px;
       width: 50px;
       padding: 7px;
       
    }
    
    .spotifylogo {
        display: none;
    }

    .spotifylogosmall {
        display: block;
        width: 30px;
    }

    .display_none, .side_item hr  {
        display: none;
        
    }
    
    .first-list #home, .first-list #search, .first-list #library  {
        padding-top: 31px;
        padding-right: 10px;
    }

    .author_profile {
        padding-top: 20px;
    }

    /* .side_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .side_item {
        margin-top: auto;
        display: flex;
        flex-direction: column;
    }
        

    .side_item i {
        text-align: center;
        padding-left: 0;
    }
    

    .playing__track__interaction {
        padding-right: 0;
        display: flex;
        flex-direction: column;
        row-gap: 7px;
    }
    
    #home::before {
        bottom: 10px;
        left: -7px;
    }

    .time__player {
        width: 80%;
    }

    .icons__player {
        width: 80%;
    }
    
    

}


    

    
    